In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ply
import warnings

In [39]:
df = pd.read_csv('./Data/uber-raw-data-aug14.csv')
df.head()
df.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [40]:
#Q1. On what date did we see the most number of Uber pickups?

df['Date/Time'] = pd.to_datetime(df['Date/Time'])

#grouping by Date

no_of_pickups_datewise = df.groupby(df['Date/Time'].dt.date)['Date/Time'].count()
#print(no_of_pickups_datewise)

no_of_pickups_datewise_max = no_of_pickups_datewise.idxmax()
print(no_of_pickups_datewise_max)

#ordering by in desc order

#no_of_pickups_datewise_sorted_desc = no_of_pickups_datewise.sort_values(ascending = False).head(1)

#print(no_of_pickups_datewise_sorted_desc)

no_of_pickups_highest = no_of_pickups_datewise[no_of_pickups_datewise_max]

print(no_of_pickups_highest)

2014-08-07
32759

In [41]:
#Q.3 How many unique TLC base companies are affiliated with the Uber pickups in the dataset?

display(df.head())

no_of_base_companies = df['Base'].nunique()

print(no_of_base_companies)

pickup_count_basewise = df.groupby(df['Base'])['Base'].count().sort_values(ascending = False)
print(pickup_count_basewise)

base_wise_highestPickups = pickup_count_basewise[pickup_count_basewise.idxmax()]
print(base_wise_highestPickups)

            Date/Time      Lat      Lon    Base
0 2014-08-01 00:03:00  40.7366 -73.9906  B02512
1 2014-08-01 00:09:00  40.7260 -73.9918  B02512
2 2014-08-01 00:12:00  40.7209 -74.0507  B02512
3 2014-08-01 00:12:00  40.7387 -73.9856  B02512
4 2014-08-01 00:12:00  40.7323 -74.0077  B02512

5
Base
B02617    355803
B02598    220129
B02682    173280
B02764     48591
B02512     31472
Name: Base, dtype: int64
355803

In [50]:
#Q.6 Determining the busiest time of day for Uber pickups based on the date/time column?

df['Hour'] = df['Date/Time'].dt.hour

grouped_by_hour = df.groupby('Hour')['Hour'].count()

print(grouped_by_hour)

grouped_by_hour_max = grouped_by_hour.idxmax()

print(grouped_by_hour_max)

highest_hour_pickups = grouped_by_hour[grouped_by_hour_max]

print(highest_hour_pickups)

Hour
0     21451
1     14471
2     10105
3     10376
4     11774
5     16525
6     24907
7     34064
8     34566
9     30195
10    30706
11    31778
12    32106
13    35764
14    40644
15    48197
16    53481
17    57122
18    55390
19    53008
20    51674
21    51354
22    46008
23    33609
Name: Hour, dtype: int64
17
57122